<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Listing</title>
</head>
<body>
    <h2>Edit Your Listing</h2>
    <form>
        <input type="text" name="title">> 
        <br/>  <br/>
        <input type="text" name="description" placeholder="Enter description" row="15" col="20">
        <br/>  <br/>
        <input type="text" name="image" placeholder="Add Image/URL">
        <br/>  <br/>
        <input type="text" name="price" placeholder="Enter Price">
        <br/>  <br/>
        <input type="text" name="country" placeholder="Enter country">
        <br/>  <br/>
        <input type="text" name="location" placeholder="Enter location">
        <br/>  <br/>
        <button>Add</button>
    </form>
</body>
</html>