<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <br /> <br />
                <h3>Create your own Listing</h3>
                <form method="post" action="/listings">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="listing[title]" placeholder="Add a catcy title" type="text" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" placeholder="Enter description" row="15" col="30"
                            class="form-control"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image link</label>
                        <input name="listing[image]" placeholder="Add Image/URL" type="text" class="form-control">
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" placeholder="1200" type="text" class="form-control">
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input name="listing[country]" placeholder="India" type="text" class="form-control">
                        </div>

                    </div>


                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" placeholder="Mumbai, Maharashra" type="text"
                            class="form-control">
                    </div>
                    <br /> <br />
                    <button class="btn btn-dark btn-add">Add</button>
                    <br /> <br />

                </form>
            </div>
        </div>

    </body>